/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

/* Global Styles */
* {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

html {
    font-size: 83%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
.heading{
    margin-top: -4rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: center;
    color: rgba(218, 39, 8, 1);
}
.heading span{
    background: rgba(252, 229, 200, 0.864);
    padding: .1rem 1.2rem;
    border-radius: .9rem;
}
.heading h2 .space{
    background: none;

}

/* Header Styles */
.home header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
}

.home header .A {
    font-size: 4rem;
    font-weight: bolder;
    color: rgba(218, 39, 8, 1);
    text-transform: uppercase;
}

.home header .A span {
    color: #111;
    font-size: 3.5rem;
}

.home header .navbar a{
    font-weight: bold;
    color: #111;
    font-size: 2rem;
    margin: 14px;
}

.home header .navbar a:hover {
    color:antiquewhite;
}

.home header .icons i {
    font-size: 1rem;
    color: aliceblue;
    cursor: pointer;
    margin-right: 2rem;
}

.home header .icons i:hover {
    color: bisque;
}
.btn {
    font-size: 1.8rem;
    background: rgba(218, 39, 8, 1);
    color: white;
    padding: .7rem 5rem;
    text-align: center;
    width: 30%;
    cursor: pointer;
    border-radius: .5rem;
}

.btn:hover {
    background: bisque;

}
.home .image video {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}

.home .box {
    min-height: 110vh;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-flow:column;
    z-index: 0;
}
.home .box .container  {
    display: inline-block;
    margin-left: 5rem;
    padding: 2rem;
}
.home .box .container span{
    color: blanchedalmond;
    font-size: 3.5rem;
    padding: 1rem;
    display: inline-block;
}
.home .container span.text3 {
    font-weight: 600;
    color: rgb(218, 39, 8) ;
    font-size: 4rem;
    border-right: 3.5px rgba(218, 39, 8, 0.674) solid;
    padding: 0.7rem;
}







/* 
.wrapper{  
 top: ;     
display:block;
background: transparent;
background: #352e2e86;
backdrop-filter: blur(400px);
color: #fff;
border-radius: 10px;
padding: 30px 40px;
z-index: 1000;
justify-content: center;
box-shadow: 0 0 50px rgba(0,0,0,1);
transition: height .2 ease;
}

.wrapper h1{
    font-size: 40px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 25px 0;
}
.wrapper h1 span{
        color: rgb(218, 39, 8) ;
 }

.input-box input{ 
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: .25rem #494545 solid;
    border-radius: 20px;
    font-size: 1.7rem;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.registerationForm .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
} */
















#menu-bar{
    border: 2px solid hsl(0, 12%, 64%);
    border-radius: .5rem;
    font-size: 2.5rem;
    cursor: pointer;
    padding: .5rem 1.1rem;
    display:none;
}   


@media (max-width:1600px){
    html{
     font-size: 80%;
    }
    header{
        padding: 4rem;
    }
 }

@media (max-width:1300px){
   html{
    font-size: 70%;
   }
.header .navbar{
    font-size: 60%;
} 
}
@media (max-width:1050px){
    html{
     font-size: 59%;
    }
    .book .row .image img{
        width: 100%;
        height: 66%;
        object-fit: cover;
        left: 0;
        position: absolute;
       
    } 
    .book .row .booking{
        object-fit: cover;
        z-index:1;
        display: flex;
        justify-content: center;
        text-align: center;
        background: #f1eeeea1;
        padding: 20px;
    }
    .contact .row .image {
        width: 100%;
        height: 62%;
        object-fit: cover;
        left: 0;
        position: absolute;
    }
    .contact .row .form {

        z-index:1;
        display: flex;
        justify-content: center;
        text-align: center;
        background: #ffffff5c;
        padding: 40px;
        height: 880px;
    }
    .contact .row .form .input ,.contact .row form textarea{
        margin: 2rem;
    }
 }
 @media (max-width:980px){
    .heading{
        font-size: 2rem;
    }
    #menu-bar{
        display: initial;
        color:bisque;
    }
    header .navbar{
        position: absolute;
        top: 100%; right: 0;left: 0;
        margin-right: 60%;
        padding: 1rem 2rem;
        border-top:0.1rem solid rgba(255, 255, 255, 0.142);
        clip-path:polygon(0 0,100% 0,100% 0,0 0);
    }
    header .navbar.active{
        clip-path:polygon(0 0,100% 0,100% 100% ,0 100%);
    }
    header .navbar a{
        display: block;
        padding: 1rem;
        border-radius: .5rem;
    
    }
    .brand-container .swiper .swiper-wrapper .swiper-slide img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        align-items: center;
        padding: 3.6rem;
        margin-left: 2rem;
    
    }
 }
 